h1{

	

	color:#002060;
	 font-size: 40px;
	  font-weight: bold;
	  padding: 7px 5px;
	  text-transform: uppercase;
	  background-color:#56A0D3;
	  border-radius:25px;
	  border:solid 3px rgb(0,32,96);
	margin:0;

	margin-top:1em;

}



form{

	width:50%;

	position:relative;

	display:inline-block;

}

body{

	background-color:#00007f;

	 background: linear-gradient(#B4D8E7, #00005f);

	 text-align:center;

}

.sideImage{

	float:right;

	width:40%;

	display:inline-block;

}

img{

	position:relative;

	width:100%;

}

.announcment{

	margin: 0 auto;

	background-color: rgba(0,32,96,.85);
	border-radius:15px;

	padding: 2em;

	display: block;

	position: relative;

	text-align: left;

}

.announcment h1{

	color: white;

	font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;

	font-style: italic;

	font-size: 3em;

	text-shadow:2px 2px #000;

	margin-top: 0;

	text-align: center;

}

.announcment h2{

	color: white;

	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;

	font-size: x-large;

	text-shadow:2px 2px #000;

}

.announcment p{

	color: white;

	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;

	font-size: large;

	text-shadow:2px 2px #000;

}



.announcment li{

	color: white;

	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;

	font-size: large;

	text-shadow:2px 2px #000;

}

.announcmentWrapper{

	margin: 0 auto;

	margin-bottom:2em;

	margin-top:2em;

	padding: 1em;

	width: 70%;

	background-color: #56A0D3;
	border-radius:25px ;

	position: relative;

	display: inline-block;

}



hr.experiencehr {

    border: 0;

    height: 1px;

    background: #3498db;

    background-image: -webkit-linear-gradient(left, rgba(0,50,96,.85), #3498db, rgba(0,50,96,.85)); 

    background-image:    -moz-linear-gradient(left, rgba(0,50,96,.85), #3498db, rgba(0,50,96,.85)); 

    background-image:     -ms-linear-gradient(left, rgba(0,50,96,.85), #3498db, rgba(0,50,96,.85)); 

    background-image:      -o-linear-gradient(left, rgba(0,50,96,.85), #3498db, rgba(0,50,96,.85)); 

}

li{

	line-height: 0em;

}

a:link{

	color:#eee;

}

a:visited{

	color:#ccc;

}

